body {
    background-color: white;
}

.containerDocuments {
    text-align: center;
}

.containerDocuments button {
    width: 20vw;
    height: 5vh;
    border-radius: 10px;
    background-color: #007bff;
    color: white;
    font-size: 100%;
}

button:hover {
    background-color: darkblue !important;
}